body{
  margin: 0;
  border: none;
  background-image: url("proiectAWJpoze/social-media2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.registerBox{
  width: 320px;
  height: 400px;
  position: absolute;
  top: 25%;
  left: calc(50% - 190px);
  background: rgba(41, 41, 41, 0.82);
}

.registerBox input[type = "text"][name="username"]{
  font-size: 17px;
  border: none;
  outline: 0;
  border-bottom: 1px solid aliceblue;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 50px;
  background: transparent;
  color: white;
}

.registerBox input[type = "text"][name="email"]{
  font-size: 17px;
  border: none;
  outline: 0;
  border-bottom: 1px solid aliceblue;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 90px;
  background: transparent;
  color: white;
}

.registerBox input[type = "password"][name = "password"]{
  font-size: 17px;
  border: none;
  outline: 0;
  border-bottom: 1px solid aliceblue;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 130px;
  background: transparent;
  color: white;
}

.registerBox input[type = "password"][name = "confirmPassword"]{
  font-size: 17px;
  border: none;
  outline: 0;
  border-bottom: 1px solid aliceblue;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 170px;
  background: transparent;
  color: white;
}

.registerBox input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    top: 340px;
    left: calc(50% - 45px);
}

.registerBox input[type = "submit"]:hover{
    cursor: pointer;
    background: #00adfb;
    color: black;
}

.registerBox img{
  width: 120px;
  height: 120px;
  position: absolute;
  right: -10%;
  top: -70px;
}

.registerBox input[type = "file"]{
  font-size: 17px;
  border: none;
  outline: 0;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 220px;
  background: transparent;
  color: white;
}

.registerBox input[type = "file"]:hover{
  cursor: pointer;
}
